<a id="light" class="pull-right" title="Toggle lights" href="#" data-bind="click: function(){$root.toggle('lights')}">Lights!</a>
<a id="printer" class="pull-right" title="Toggle printer" href="#" data-bind="click: function(){$root.toggle('printer')}">Printer!</a>